@import '~@redhat-cloud-services/frontend-components/index.css';
@import '~@patternfly/patternfly/sass-utilities/_all';

.ans-c-dashboard {
  .pf-c-page__main-section {
    &.pf-m-light-1000 {
      --pf-c-page__main-section--BackgroundColor: var(--pf-global--BackgroundColor--100);
    }
    .pf-l-stack {
      max-width: var(--pf-c-page--section--m-limit-width--MaxWidth);
    }
    .ans-c-card-dashboard {
      .ans-c-empty-state-error {
        svg {
          height: var(--pf-global--icon--FontSize--lg)
        }
        &__body {
          font-size: var(--pf-global--FontSize--sm);
        }
      }
      .ans-l-flex {
        display: grid;
        column-gap: var(--pf-global--spacer--xl);
        .pf-l-stack {
          min-height: 250px;
        }
        .pf-c-divider {
          flex-direction: column;
        }
        p {
          font-size: var(--pf-global--FontSize--sm);
        }
        &-automation-hub-card {
          grid-template-columns: 1fr 1px 1fr 1px 1fr;
          .pf-c-description-list {
            --pf-c-description-list--RowGap: var(--pf-global--spacer--md);
            --pf-c-description-list__group--ColumnGap: var(--pf-global--spacer--0);
            --pf-c-description-list__group--GridTemplateColumns: 60px auto;
            display: flex;
            flex-direction: column;
            &__term {
              font-size: var(--pf-global--FontSize--2xl);
              padding-right: var(--pf-global--spacer--sm);
              text-align: right;
            }
          }
        }
        &-automation-analytics-card {
          grid-template-columns: 2fr 1px 1fr;
          .pf-c-description-list {
            --pf-c-description-list__group--GridTemplateRow: auto auto;
            padding: 0 var(--pf-global--spacer--2xl) 0 var(--pf-global--spacer--2xl);
            &__term {
              font-size: var(--pf-global--FontSize--2xl);
              padding-left: var(--pf-global--spacer--xl);
              display: flex;
            }
          }
        }
        &-automation-analytics-info {
          grid-template-columns: 3fr 1fr;
          .pf-c-description-list {
            --pf-c-description-list__group--GridTemplateRow: auto;
            padding: 0 var(--pf-global--spacer--2xl) 0 var(--pf-global--spacer--2xl);
            &__term {
              font-size: var(--pf-global--FontSize--2xl);
              padding-left: var(--pf-global--spacer--2xl);
              display: flex;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: $pf-global--breakpoint--md) {
    .ans-l-flex-automation-hub-card, 
    .ans-l-flex-automation-analytics-card {
      display: grid;
      grid-template-columns: 1fr !important;
      .pf-c-title {
        padding-top: var(--pf-global--spacer--md);
      }
      .pf-l-stack {
        min-height: auto;
      }
      .pf-c-content {
        display: inline;
      }
      .pf-c-divider {
        flex-direction: row;
        padding-top: var(--pf-global--spacer--md);
      }
    }
  }
  .ins-c-primary-toolbar .ins-c-primary-toolbar__group-filter {
     margin-right: 7px;
   }
  .ans-c-card-config {
    height: 215px;
    overflow: hidden;
  }
  .pf-c-card__body .pf-c-card {
    --pf-c-card--child--PaddingRight: calc(var(--pf-c-card--child--PaddingRight) * -1);
    --pf-c-card--child--PaddingLeft: calc(var(--pf-c-card--child--PaddingLeft) * -1);
    --pf-c-card--BoxShadow: none;
  }
}

.ans-c-trial__hero {
  background: #fff url(./images/hero.svg);
  background-color: var(--pf-global--BackgroundColor--light-300);
  background-size: auto 110%;
  background-position-x: right;
  background-position-y: 10%;
  background-repeat: no-repeat;

  .ans-c-trial__hero__description {
    max-width: 500px;
  }
}

.ans-c-trial__number {
  height: 100px;
  width: 100px;
  border: 5px solid var(--pf-global--BackgroundColor--light-300);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ans-c-trial__logo-wrapper {
  display: flex;
  align-items: center;
  border-left: 2px solid var(--pf-global--BackgroundColor--light-300);
  min-width: 224px;
}

.ans-c-trial__ansible-logo {
  height: 70px;
}