@import '~@redhat-cloud-services/frontend-components/index.css';

.detail-pane {
  background-color: var(--pf-global--BackgroundColor--100);
}

.detail-pane, .info-bar {
  min-height: 100%;
  @supports not (overflow-wrap: anywhere) {
    word-break: break-all;
  }
  @supports (overflow-wrap: anywhere) {
    overflow-wrap: anywhere;
  }
}

.destructive-color {
  &:not(:disabled) {
    color: var(--pf-chart-color-red-100) !important;
  }
}

.disabled-link {
  pointer-events: none;
}

.icon-danger-fill {
  fill: var(--pf-global--danger-color--100)
}

.icon-info-fill {
  fill: var(--pf-global--info-color--100)
}

.icon-success-fill {
  fill: var(--pf-global--success-color--100)
}

.font-14{
  font-size: 14px;
  color: var(--pf-global--Color--100);
  font-weight: bold;
}

.ins-c-primary-toolbar .ins-c-primary-toolbar__group-filter {
   margin-right: 7px;
 }

.span-block {
  display: block;
}

.group-label {
  max-width: 256px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.config_card {
  height: 215px;
  overflow: hidden;
}

.pf-c-table.vertical-align-inherit tbody > tr > * {
  vertical-align: inherit !important;
}

.ins-c-dashboard__error-state {
  svg { height: var(--pf-global--icon--FontSize--lg) }
  &--body { font-size: var(--pf-global--FontSize--sm); }
}

.ins-c-dashboard__card--header-subtitle {
  font-size: var(--pf-global--FontSize--sm);
}

.ins-c-dashboard__card--header.ins-m-padding-small {
  padding-bottom: 6px;
}

.ins-c-dashboard__card--body {
  display: flex;
  flex-direction: column;

  &.ins-m-horizontal {
    flex-direction: row;
    padding-top: var(--pf-global--spacer--lg);
    align-items: flex-end;
  }

  > .ins-c-dashboard__number-description {
    &:not(:first-child) {
      padding-left: var(--pf-global--spacer--md);
    }
  }

  .pf-c-progress + .pf-c-progress {
    padding-top: var(--pf-global--spacer--md);
  }

  > .pf-c-progress + .pf-c-progress {
    margin-top: var(--pf-global--spacer--xs);
  }
}

.pf-c-card.ins-m-short-header .ins-c-dashboard__card--header {
  --pf-c-card__title--not--last-child--PaddingBottom: 6px;
}

.pf-c-card__body .pf-c-card {
  --pf-c-card--child--PaddingRight: calc(var(--pf-c-card--child--PaddingRight) * -1);
  --pf-c-card--child--PaddingLeft: calc(var(--pf-c-card--child--PaddingLeft) * -1);
  --pf-c-card--BoxShadow: none;
}
