@import '~@redhat-cloud-services/frontend-components/index.css';
@import '~@patternfly/patternfly/sass-utilities/_all';

.ins-c-ansible-dashboard {
  .pf-c-page__main-section {
    &.pf-m-light-1000 {
      --pf-c-page__main-section--BackgroundColor: var(--pf-global--BackgroundColor--100);
    }
    .pf-l-stack {
      max-width: var(--pf-c-page--section--m-limit-width--MaxWidth);
    }
  }

  .automation-hub_card {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    column-gap: var(--pf-global--spacer--xl);
    .pf-l-stack {
      min-height: 250px;
    }
    .pf-c-divider {
      flex-direction: column;
    }
    p {
      font-size: var(--pf-global--FontSize--sm);
    }
    .pf-c-description-list {
      --pf-c-description-list--RowGap: var(--pf-global--spacer--md);
      --pf-c-description-list__group--ColumnGap: var(--pf-global--spacer--0);
      --pf-c-description-list__group--GridTemplateColumns: 60px auto;
      display: flex;
      flex-direction: column;
      &__term {
        font-size: var(--pf-global--FontSize--2xl);
        padding-right: var(--pf-global--spacer--sm);
        text-align: right;
      }
      &__description {
      }
    }
  }

  .automation-analytics_card {
    display: grid;
    grid-template-columns: 2fr 1px 1fr;
    column-gap: var(--pf-global--spacer--xl);
    .pf-l-stack {
      min-height: 250px;
    }
    .pf-c-divider {
      flex-direction: column;
    }
    p {
      font-size: var(--pf-global--FontSize--sm);
    }
    .pf-c-description-list {
      --pf-c-description-list--RowGap: var(--pf-global--spacer--md);
      --pf-c-description-list__group--ColumnGap: var(--pf-global--spacer--0);
      --pf-c-description-list__group--GridTemplateColumns: 60px auto;
      display: flex;
      flex-direction: column;
      &__term {
        font-size: var(--pf-global--FontSize--2xl);
        padding-right: var(--pf-global--spacer--sm);
        text-align: right;
      }
      &__description {
      }
    }
  }

  @media only screen and (max-width: $pf-global--breakpoint--md) {
    .automation-hub_card {
      display: grid;
      grid-template-columns: 1fr;
      .pf-c-title {
        padding-top: var(--pf-global--spacer--md);
      }
      .pf-l-stack {
        min-height: auto;
      }
      .pf-c-content {
        display: inline;
      }
      .pf-c-divider {
        flex-direction: row;
        padding-top: var(--pf-global--spacer--md);
      }
    }
  }

  @media only screen and (max-width: $pf-global--breakpoint--md) {
    .automation-analytics_card {
      display: grid;
      grid-template-columns: 1fr;
      .pf-c-title {
        padding-top: var(--pf-global--spacer--md);
      }
      .pf-l-stack {
        min-height: auto;
      }
      .pf-c-content {
        display: inline;
      }
      .pf-c-divider {
        flex-direction: row;
        padding-top: var(--pf-global--spacer--md);
      }
    }
  }
  .detail-pane {
    background-color: var(--pf-global--BackgroundColor--100);
  }

  .detail-pane, .info-bar {
    min-height: 100%;
    @supports not (overflow-wrap: anywhere) {
      word-break: break-all;
    }
    @supports (overflow-wrap: anywhere) {
      overflow-wrap: anywhere;
    }
  }

  .destructive-color {
    &:not(:disabled) {
      color: var(--pf-chart-color-red-100) !important;
    }
  }

  .disabled-link {
    pointer-events: none;
  }

  .icon-danger-fill {
    fill: var(--pf-global--danger-color--100)
  }

  .icon-info-fill {
    fill: var(--pf-global--info-color--100)
  }

  .icon-success-fill {
    fill: var(--pf-global--success-color--100)
  }

  .font-14{
    font-size: 14px;
    color: var(--pf-global--Color--100);
    font-weight: bold;
  }

  .ins-c-primary-toolbar .ins-c-primary-toolbar__group-filter {
     margin-right: 7px;
   }

  .span-block {
    display: block;
  }

  .group-label {
    max-width: 256px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .config_card {
    height: 215px;
    overflow: hidden;
  }

  .pf-c-table.vertical-align-inherit tbody > tr > * {
    vertical-align: inherit !important;
  }

  .ins-c-dashboard__error-state {
    svg { height: var(--pf-global--icon--FontSize--lg) }
    &--body { font-size: var(--pf-global--FontSize--sm); }
  }

  .ins-c-dashboard__card--header-subtitle {
    font-size: var(--pf-global--FontSize--sm);
  }

  .ins-c-dashboard__card--header.ins-m-padding-small {
    padding-bottom: 6px;
  }

  .ins-c-dashboard__card--body {
    display: flex;
    flex-direction: column;

    &.ins-m-horizontal {
      flex-direction: row;
      padding-top: var(--pf-global--spacer--lg);
      align-items: flex-end;
    }

    > .ins-c-dashboard__number-description {
      &:not(:first-child) {
        padding-left: var(--pf-global--spacer--md);
      }
    }

    .pf-c-progress + .pf-c-progress {
      padding-top: var(--pf-global--spacer--md);
    }

    > .pf-c-progress + .pf-c-progress {
      margin-top: var(--pf-global--spacer--xs);
    }
  }

  .pf-c-card.ins-m-short-header .ins-c-dashboard__card--header {
    --pf-c-card__title--not--last-child--PaddingBottom: 6px;
  }

  .pf-c-card__body .pf-c-card {
    --pf-c-card--child--PaddingRight: calc(var(--pf-c-card--child--PaddingRight) * -1);
    --pf-c-card--child--PaddingLeft: calc(var(--pf-c-card--child--PaddingLeft) * -1);
    --pf-c-card--BoxShadow: none;
  }
}
